In [2]:
import pandas as pd

In [6]:
orders=pd.read_table('https://bit.ly/chiporders')

In [7]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [169]:
orders.item_name.str.upper()

0                CHIPS AND FRESH TOMATO SALSA
1                                        IZZE
2                            NANTUCKET NECTAR
3       CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                                CHICKEN BOWL
                        ...
4617                            STEAK BURRITO
4618                            STEAK BURRITO
4619                       CHICKEN SALAD BOWL
4620                       CHICKEN SALAD BOWL
4621                       CHICKEN SALAD BOWL
Name: item_name, Length: 4622, dtype: object

In [170]:
orders.item_name.str.contains('Tomato')

0        True
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

In [171]:
orders[orders.item_name.str.contains('Tomato')]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
55,25,1,Chips and Fresh Tomato Salsa,NaN,$2.39
89,39,1,Chips and Fresh Tomato Salsa,NaN,$2.95
183,82,1,Chips and Fresh Tomato Salsa,NaN,$2.95
...,...,...,...,...,...
4231,1689,1,Chips and Fresh Tomato Salsa,NaN,$2.95
4318,1722,1,Chips and Fresh Tomato Salsa,NaN,$2.95
4324,1725,1,Chips and Fresh Tomato Salsa,NaN,$2.95
4425,1764,1,Chips and Fresh Tomato Salsa,NaN,$2.95
4503,1790,1,Chips and Fresh Tomato Salsa,NaN,$2.95

In [128]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [129]:
orders.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [130]:
orders.item_price.str.replace('$','').astype(float).mean()

<ipython-input-130-e4cde554d405>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  orders.item_price.str.replace('$','').astype(float).mean()

7.464335785374397

In [131]:
orders.item_name.str.contains('Salsa').astype(int)

0       1
1       0
2       0
3       1
4       0
       ..
4617    0
4618    0
4619    0
4620    0
4621    0
Name: item_name, Length: 4622, dtype: int32

In [168]:
movies.duration.describe()

count    979.000000
mean     120.979571
std       26.218010
min       64.000000
25%      102.000000
50%      117.000000
75%      134.000000
max      242.000000
Name: duration, dtype: float64